*~
/0.11/86-DOS Version 0.1-C - Serial #11 (ORIGINAL DISK).img
/0.11/86dos011.img
/0.11/86dos011_nojunk.img
/0.11/86dos011_bydos_nojunk.img
/0.11/86dos.sys
/0.11/*.bin
/0.11/*.com
/0.11/*.hex
/0.11/*.prn
/0.11/asm244i
/0.11/chess.dos
/0.11/pcdos300.img
/0.11/pcdos310.img
/0.11/pcdos320.img
/0.11/mydos.img
/0.11/COMMAND.COM
/0.11/IBMBIO.COM
/0.11/IBMDOS.COM
/0.11/autoexec.bat
/0.11/*_.asm
/0.11/old
/1.14-scp-oem-tarbell/86dos011.img
/1.14-scp-oem-tarbell/86dos.sys
/1.14-scp-oem-tarbell/*.bin
/1.14-scp-oem-tarbell/*.com
/1.14-scp-oem-tarbell/asm244i
/1.14-scp-oem-tarbell/86-DOS 1.14 \[SCP OEM\] \[SCP Tarbell\] (12-11-1981) (8 inch SSSD).rar
/1.14-scp-oem-tarbell/86dos11t.imd
/1.14-scp-oem-tarbell/86dos11t.img
/1.14-scp-oem-tarbell/86dos114.img
/1.14-scp-oem-tarbell/86dos114_nojunk.img
/1.14-scp-oem-tarbell/86dos114_nojunkskip.img
